<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head>
<!-- Copyright 2019 Christopher Heng. All rights reserved. -->
<!-- Source: https://www.thesitewizard.com/javascripts/close-browser-tab-or-window.shtml -->

<title>How to Close a Browser Tab/Window with JavaScript (thesitewizard.com)</title>

<meta name="description" content="JavaScript code to close a browser tab or window">
<meta name="robots" content="index,follow,noarchive">
<meta http-equiv="imagetoolbar" content="no">
<meta name="author" content="Christopher Heng">
<meta name="copyright" content="Copyright © 2019 Christopher Heng. All rights reserved.">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css">

<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="alternate" type="application/rss+xml" title="thesitewizard.com RSS Feed" href="https://www.thesitewizard.com/thesitewizard.xml">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="search" href="https://www.thesitewizard.com/opensearch.xml" type="application/opensearchdescription+xml" title="thesitewizard.com Search">
<!-- <script src="../include/common.js" language="JavaScript" type="text/javascript"></script> -->

<link rel="home" href="https://www.thesitewizard.com/" title="thesitewizard.com's main page">
<link rel="index" href="https://www.thesitewizard.com/sitemap.shtml" title="List of all documents on thesitewizard.com">
<link rel="up" href="https://www.thesitewizard.com/javascripts/index.shtml" title="Index of JavaScript articles, tutorials and scripts">
<link rel="canonical" href="https://www.thesitewizard.com/javascripts/close-browser-tab-or-window.shtml">

</head>

<body style="">


<h2><a name="demo" id="demo"></a>Thank you..</h2>

<p id="demo_para">
<!-- <button type="button" onclick="tsw_open_demo_window();">Open demo in a new window/tab</button> -->
<button type="button" onclick="window.close();">Continue to app</button>
</p>



<br>&nbsp;<br>
</body></html>
