<!DOCTYPE html>
<html>
  <head>
    <title>ElorryPay</title>
    <!-- needed for adaptive design -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
    <!-- ReDoc doesn't change outer page styles -->
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <form id="payment-form">
      <div class="form-row">
        <div>
          <label for="fpx-bank-element">
            FPX Bank
          </label>
          <div id="fpx-bank-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>
        </div>
      </div>

      <button id="fpx-button" data-secret="{{ client_secret }}">
        Submit Payment
      </button>

      <!-- Used to display form errors. -->
      <div id="error-message" role="alert"></div>
    </form>
    <script>
    const stripe = Stripe('{{ pk_key }}');
    const elements = stripe.elements();
    const style = {
        base: {
           // Add your base input styles here. For example:
          padding: '10px 12px',
          color: '#32325d',
          fontSize: '16px',
        }
      };

      // Create an instance of the fpxBank Element.
      const fpxBank = elements.create(
        'fpxBank',
        {style: style, accountHolderType: 'individual'}
      );

      // Add an instance of the fpxBank Element into the container with id `fpx-bank-element`.
      fpxBank.mount('#fpx-bank-element');
      fpxBank.on('change', ({value}) => {
        const bank = value;
        // Perform any additional logic here...
      });
      const form = document.getElementById('payment-form');

      form.addEventListener('submit', async function(event) {
        event.preventDefault();
        const fpxButton = document.getElementById('fpx-button');
        const clientSecret = fpxButton.dataset.secret;

        const result = await stripe.confirmFpxPayment(clientSecret, {
          payment_method: {
            fpx: fpxBank
          },
          // Return URL where the customer should be redirected after the authorization
          return_url: `${'https://elorry.appspot.com/api/payment/charge_confirm'}`
        });

        if (result.error) {
          // Inform the customer that there was an error.
          const errorElement = document.getElementById('error-message');
          errorElement.textContent = error.message;
        }
      });
    </script>
    
  </body>
</html>